body{
    font-family: sans-serif;
    /* min-width:768px; */
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px black solid;
    border-radius: 30px; 
    width:100%;
    margin-inline:auto;
    max-width: 800px;
    padding-inline:40px;
    box-sizing: border-box;
    
}

.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{
        color:grey;
    }
}

.main-design{
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    flex-direction: column;
    gap:20px;
}

.row{
    display:flex;
    gap:20px;
    width:100%;
}
.dates,.content{
    flex:1;
    display:flex;
}
.dates{
    justify-content: end;
    text-align: right;;
}
.content{
    justify-content: start;
    text-align: left;
}

.circle{
    flex-shrink: 0;
    position:relative;
    width:20px;
    height:20px;
    border:2px black solid;
    background-color: black;
    border-radius: 50%;
}

.circle::before{
    content:'';
    position:absolute;
    width:2px;
    left:50%;
    top:-20px;
    bottom:-50px;
    background-color: black;
}

.special-btn{
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: 0px black solid;
    border-radius: 10px;
    margin-bottom:100px;
    margin-inline:auto;
}